# Visual Studio Code
**/.vscode/

# Visual Studio
**/.vs/
**.user

# Chrome Embedded Framework
/cef_binary_*/

# TODO: move this
/proj/GPUCache/

# Simple Web Server
/Simple-Web-Server-*/
