# Visual Studio Code
**/.vscode/

# Visual Studio
**/.vs/
**.user

# Binaries
/bin/
/obj/

# Chrome Embedded Framework
/cef_binary_*/

# Simple Web Server
/Simple-Web-Server-*/

# Boost (symlinked from install location, or local)
/boost_*/

# Runtime
**.log
/sln/GPUCache/
/sln/enc_temp_folder/
