body {
  display: flex;
  flex-flow: column nowrap;
}

.controls {
  flex: 0 0 calc(7 * var(--size));

  background-image: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
}

.video-wrapper {
  flex: 1 1 auto;
  position: relative;

  width: 100%;
}

.video-wrapper>.video {
  position: absolute;
  top: 50%;
  left: 50%;

  transform-origin: top left;
  max-width: 10%;
  max-height: 10%;
  transform: scale(10) translateX(-50%) translateY(-50%);
}